<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>User Data</title>

    <Script src="../js/userData.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Prototype</a>
    </nav>

    {% block content %}
    <div class="container container-fluid">
        <div class="row">
            <br/>
            <br/>
            <br/>
        </div>
        <div class="row" id="form-content">
            <div class="col-sm-2"></div>
            <form class="col-sm-8">
                <div class="form-group row">
                    <label class="col-sm-2" for="name">Name</label>
                    <input type="text"
                      class="form-control col-sm-6" name="name" id="name"/>
                  </div>
                  <div class="form-group row">
                    <label for="sex" class="col-sm-2">Sex</label>
                    <div class="form-check col-sm-2">
                        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
                        <label class="form-check-label" for="male">
                          Male
                        </label>
                      </div>
                      <div class="form-check col-sm-4">
                        <input class="form-check-input" type="radio" name="sex" id="female" value="female">
                        <label class="form-check-label" for="female">
                          Female
                        </label>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2" for="age">Age</label>
                    <input type="text" class="form-control col-sm-2"
                     name="age" id="age"/>
                  </div>              
                  <div class="form-group row">
                    <label for="country" class="col-sm-2">Country</label>
                    <select class="form-control col-sm-4" id="country">
                        {% for country in countries %}
                        <option value="{{country.country}}">{{country.country}}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="text-danger col-sm-8" id="error-text"></div>
                  </div>
                  <button id="submit" type="button" onclick="onSubmitRegistration();" class="btn btn-primary">Submit</button>
            </form> 
        </div>
    </div>
    {% endblock %}
</body>
</html>